:root { 
--gray_700_a5:#616060a5; 
--teal_100_01:#9fd7cf; 
--blue_gray_100_01:#c8cace; 
--teal_100:#9fd8cf; 
--white_A700_cc:#ffffffcc; 
--pink_A200:#f82fc0; 
--black_900:#000000; 
--gray_500_01:#ababab; 
--yellow_900:#d27c2c; 
--gray_500_02:#afabab; 
--blue_gray_900_01:#333333; 
--blue_gray_900:#2c2c2c; 
--deep_purple_A200:#774eee; 
--teal_200_19:#70d9c919; 
--gray_600:#7f7f7f; 
--white_A700_4c:#ffffff4c; 
--gray_500:#aaadac; 
--blue_gray_100:#d9d9d9; 
--gray_600_01:#757575; 
--blue_gray_400:#8c8c8c; 
--gray_800:#4a4543; 
--gray_900:#081122; 
--gray_200:#e8e8e8; 
--gray_100:#f2f2f2; 
--teal_A400:#2ce1c6; 
--white_A700:#ffffff; 
}